body {
    background: #a5a5a5;
    overflow-x: hidden;
}

.letras{
    font-size: 1.5rem;
    font-weight: bold;
}

.ltr{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(29, 7, 177);
}

.contenedor{    
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.contenedorPrincipal{    
    color: rgb(255, 255, 255);
    background: #000000;
    border-radius: 10px;
}

.contendor-titulo{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: inherit;
}
.contenedor-contenido{
  height: 95%;
}

.negro{
  background-color: black;
}

.gris{
  background: #838383;    
}

#piedepagina{
    color: rgb(0, 0, 0);
    text-align: center;
}

.tablasorteo{
    color: white;
    background: #555454;
    border-radius: 10px;    
}

.colorfondo{
    background: #181A1C;
}

.form .row {
  height: 40px;
  margin-bottom: 1px;
}

span{
    font-size: 1rem;
}
.selfondo { 
    background-color:#232527;
    color: white;
    font-size: 1.5rem;
}

select, input{
    border-color: #555454;    
}

input.ng-touched.ng-invalid{
    border-color: red;    
}

select.ng-touched.ng-valid{
    border-color: red;
}

.tablacolores{
    color: white;
    background: #555454;
    border-radius: 10px;
}

.button {
    transition-duration: 0.4s;
}
  
.button:hover {
    background-color: #4CAF50;
    color: white;
 }

pagination-controls {   
    color: #fff;
}

#otromarco{

    background: #555454;    
    z-index: 5;
    width: 213px;      
    height: 100%;
    top: 0px;
    margin-top: 5px;    
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 15px;
    color: white;    
    text-align: left;
    border-radius: 10px;

}

.boton-nar {
    color: rgb(0, 0, 0) !important;
    font-size: 2rem;
    background: #07c4ea;
    border: 3px solid;
    border-color: #000000;
    border-radius: 10px;
    width: 100%;
    position: relative;
   
}

.boton-nar:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgba(236, 230, 230, 0.548);
    transition: all 1s ease;
} 
.boton-nar:hover:before {
    height: 100%;
}

.form-control:disabled , .form-control[readonly] {
    background-color: #000000 ;
    opacity: 1 ;
}

#letrasid{
    color: white;
    font-size: 1.5rem;
}

#lineaseparadora{
    width:100%;
    height: 8px;
    color:#181A1C; 
}

#lineaseparadora2{
    width:100%;
    height: 8px;
    color:transparent; 
}

#balotaimg{
    width: 200px;
    height: 200px;
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

input[type="checkbox"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.imagenincial {
   
    border: 1px solid;
    padding: 0 1rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    
}

.tamanoletratabla{
    font-size: 0.7rem;
}
.modalFullScreen .modal-dialog {
    max-width:100vw;
    margin: 0;
    overflow-y: hidden;
  }
