<form [formGroup] = "form">

    <div class = "container p-1"> 

		<div class="row header">
			<div class="col-sm-12">             
				<div class="contenedor negro">
					<div class=" d-flex justify-content-center branding" routerLink="/home">
						<img  src="assets/img/empleadosimg/empleados.png" 
						alt="Logo"  class="center">
					</div>
				</div>
			</div>        
		</div>

		<br>

        <div class="row" > 
                <div class="col-sm-12 contenedor gris letras">
                    <div class="row">
                        <div class="col-sm-12">                            
                            <div>                            
                            </div>
                                <div class="row">
									<div class="col-sm-12"> 
                                    	<span class="ltr" >APELLIDOS</span> 									
										<div class="row">
											<div class="col-sm-1"> 
												<span class="letras" >Primero:</span>  
											</div> 
											<div class="col-sm-5"> 
												<input type="text" class="form-control selfondo"  formControlName="primerApellido" placeholder="Ingrese primer apellido"/>
											</div>   
											<div class="col-sm-1"> 
												<span class="letras" >Segundo:</span>  
											</div> 
											<div class="col-sm-5"> 
												<input type="text" class="form-control selfondo"  formControlName="segundoApellido" placeholder="Ingrese segundo apellido"/>
											</div>  
										</div> 
									</div>
                                </div>
                                <div></div>
                                <div></div>

                                <div class="row">
									<div class="col-sm-12"> 
                                    	<span class="ltr" >NOMBRES</span> 									
										<div class="row">
											<div class="col-sm-1"> 
												<span class="letras" >Primer:</span>  
											</div> 
											<div class="col-sm-5"> 
												<input type="text" class="form-control selfondo"  formControlName="primerNombre" placeholder="Ingrese primer nombre"/>
											</div>   
											<div class="col-sm-1"> 
												<span class="letras" >Otros:</span>  
											</div> 
											<div class="col-sm-5"> 
												<input type="text" class="form-control selfondo"  formControlName="otrosNombres" placeholder="Ingrese otros nombres"/>
											</div>  
										</div> 
									</div>
                                </div>
                                <div></div>
                                <div></div>

                                <div class="row">
									<div class="col-sm-12"> 
                                    	<span class="ltr" >IDENTIFICACIÓN</span> 									
										<div class="row">
											<div class="col-sm-1"> 
												<span class="letras">Tipo:</span>  
											</div> 
											<div class="col-sm-5"> 
												<select class="form-control selfondo" formControlName="idIdentificacion">
													<option value="" selected>Seleccione...</option> 
													<option *ngFor= "let identificaciones of tipoIdentificacion" value={{identificaciones.id_identificacion}}>
														{{identificaciones.descripcion_identificacion}}
													</option>
												</select>  
											</div>   
											<div class="col-sm-1"> 
												<span class="letras" >ID:</span>  
											</div> 
											<div class="col-sm-5"> 
												<input type="text" class="form-control selfondo"  formControlName="identificacionEmpleado" placeholder="Ingrese Identificación" (change)="validarIdentificacion($any($event.target).value)"/>
											</div>  
										</div> 
									</div>
                                </div>
                                <div></div>
                                <div></div>

                                <div class="row">
									<div class="col-sm-12"> 
                                    	<span class="ltr" >DATOS</span> 									
										<div class="row">
											<div class="col-sm-1"> 
												<span class="letras" >País:</span>  
											</div> 
											<div class="col-sm-5">
												<select class="form-control selfondo" formControlName="idPais" (change)="validarCorreo($any($event.target).value)">
													<option value="" selected>Seleccione...</option> 
													<option *ngFor= "let paises of tipoPais" value={{paises.id_pais}}>
														{{paises.descripcion_pais}}
													</option>
												</select>   
											</div>   
											<div class="col-sm-1"> 
												<span class="letras" >Correo:</span>  
											</div> 
											<div class="col-sm-5"> 
												<input type="text" class="form-control selfondo"  formControlName="correosEmpleados" placeholder="Correo"/>
											</div>  
										</div> 
									</div>
                                </div>
                                <div></div>
                                <div></div>

                                <div class="row">
									<div class="col-sm-12"> 
                                    	<span class="ltr">ZONA</span> 									
										<div class="row">
											<div class="col-sm-1"> 
												<span class="letras" >Área:</span>  
											</div> 
											<div class="col-sm-5">  
												<select class="form-control selfondo" formControlName="idAreaEmpresa">
													<option value="" selected>Seleccione...</option> 
													<option *ngFor= "let areaempresas of tipoAreaEmpresa" value={{areaempresas.id_areaempresa}}>
														{{areaempresas.descripcion_areaempresa}}
													</option>
												</select> 
											</div>   
											<div class="col-sm-1"> 
												<span class="letras" >Estado:</span>  
											</div> 
											<div class="col-sm-5">   
												<select class="form-control selfondo" formControlName="idestados">
													<option value="" selected>Seleccione...</option> 
													<option *ngFor= "let estados of tipoEstado" value={{estados.id_estado}}>
														{{estados.descripcion_estado}}
													</option>
												</select> 
												<input type="text" class="form-control selfondo"  formControlName="idEmpleado" placeholder="ID" style="visibility:hidden"/>
											</div>  
										</div> 
									</div>
                                </div>
                                <div></div>
                                <div></div>     
                                <div>                            
                            </div>
                        </div>
                    </div> 
          
					<div class="row my-3">
                        <div class="col-sm-12">
                            <div class="row">   
                                <div class="col-sm-6 "> 
                                    <button type="submit" class="boton-nar" (click)="registrarEmpleado()">
                                        Registrar<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                                            <line x1="9" y1="12" x2="15" y2="12"></line>
                                            <line x1="12" y1="9" x2="12" y2="15"></line>
                                         </svg></button>
                                </div>

                                <div class="col-sm-6 "> 
                                    <button type="button" class="boton-nar" (click)="actualizarEmpleado()">                                         
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-dot" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                                            <circle cx="12" cy="12" r="1"></circle>
                                         </svg>Actualizar</button>
                                </div>                                 
    
                            </div> 
                        </div>
                    </div>

                </div>
        </div>
    </div> 

</form>

<div class="row">

    <div class="row">
        <div class="col-sm-12 ">
            <pagination-controls (pageChange)="paginacion = $event"></pagination-controls>
            <table class="table tablacolores" datatable>
                <thead>
                    <tr style="text-align:center">
                        <th>APELLIDOS</th>
                        <th>NOMBRES</th>
                        <th>IDENTIFICACIÓN</th>
                        <th>PAIS</th>
                        <th>CORREO</th>
                        <th>ÁREA</th>
                        <th>ESTADO</th>
                        <th>INGRESO</th>
                        <th>REGISTRO</th>
                        <th>ACTUALIZACIÓN</th>
                        <th>OPERACIONES</th>
                    </tr>
                </thead>

                <tbody>

                    <tr style="text-align:center"
                        *ngFor="let ListaDeEmpleados of  listaEmpleados | paginate: { itemsPerPage: 10, currentPage: paginacion }; let i= index">
                        <td>
                            {{ListaDeEmpleados.primer_apellido}} {{ListaDeEmpleados.segundo_apellido}}                  
                        </td>
                        <td>
                            {{ListaDeEmpleados.primer_nombre}} {{ListaDeEmpleados.otros_nombres}}
                        </td>
                        <td>
                            {{ListaDeEmpleados.descripcion_identificacion}} - {{ListaDeEmpleados.identificacion_empleado}}
                        </td>
                        <td>
                            {{ListaDeEmpleados.descripcion_pais}}
                        </td>
                        <td>
                            {{ListaDeEmpleados.correo_empelado}}
                        </td>
                        <td>
                            {{ListaDeEmpleados.descripcion_areaempresa}}
                        </td>
                        <td>
                            {{ListaDeEmpleados.descripcion_estado}}
                        </td>
                        <td>
                            {{ListaDeEmpleados.fecha_ingreso_empleado}}
                        </td>
                        <td>
                            {{ListaDeEmpleados.fecha_registro_empleado}}
                        </td>
                        <td>
                            {{ListaDeEmpleados.fecha_modificacion_empleado}} 
                        </td>
						<td>
						<i class="far fa-edit tect-info btn btn-outline-success" style="cursor: pointer;" (click)="seleccionarEmpleado(ListaDeEmpleados.id_empleado)"></i><i></i>
						
						<label>
							<i class="fas fa-trash-alt btn btn-outline-warning" style="cursor : pointer;" (click)="eliminarEmpleado(ListaDeEmpleados.id_empleado)"></i>
						</label>
	
						</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    
</div>

<div class="row footer">
    <div class="col-sm-12" id="piedepagina">	   
      <span style="text-align: center;">Copyright &copy; {{NombreApp}} {{year}}</span> 
    </div>
  </div>